body {
    background-image: url(images/saloon_bar.jpg);
    width: 100vw;
}
header {
    width: 95vw;
    font-size: 3em;
    color: white;
    text-shadow: 8px 8px 10px red;
    text-align: center;
    border: solid black;
}
header h5 {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0;
    bottom: 30px;
}
header img {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    top: 10px;
    right: 10vw;
}
section button {
    background: #428BCA;
    color: #fff;
    font-size: 18px;
    height: 45px;
    width: 100px;
    margin: 15px 15px;
    text-align: center;
    border: 1px solid;
}
section{
    width: 100vw;
}
.cardArea {
    display: inline-block;
    width: 74vw;
    vertical-align: top;
    border: solid red;
}
#statsContainer {
    display: inline-block;
    width: 20vw;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 8px blue;
    border: solid green;
}
.cardFlip {
    position: relative;
    width: 150px;
    height: 220px;
    padding: 10px;
}
.cardFlip.h:hover .back, .cardFlip.h.flip .back{
    transform: rotateY(180deg);
}
.cardFlip.h:hover .front, .cardFlip.h.flip .front{
    transform: rotateY(0deg);
}
.cardFlip.h .front{
    transform: rotateY(-180deg);
}

.cardFlip .front, .cardFlip .back {
    position:absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    backface-visibility: hidden;

}
.cardFlip img{
    width: 150px;
    height: 220px;
    border: 5px solid darkred;
    border-radius: 25px;
}
.front .back, .cardFlip{
    display: inline-block;
}

