* {
    margin: 0;
}

html, body {
    background-image: url(images/toy_story_clouds_wallpaper_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

header {
    width: 80%;
    margin: auto;
}

header h5 {
    text-align: center;
    position: relative;
    color: white;
    text-shadow: 12px 6px 10px #a71201;
    font-size: 5vw;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.cardSection {
    margin: auto;
    width: 80%;
    position: relative;
    top: 1vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 15%;
    height: 22vh;
    margin: .6%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3%;
}

.front .back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 3%;
    top: 0;
    left: 0;
}

.card > .back, .card > .front {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .3s linear 0s;
    transition: transform .3s linear 0s;
}
.back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
}
.front {
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
}

footer {
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: relative;
    top: 2vh;
    width: 70%;
    height: 10vh;
    margin: auto;
    text-align: center;
    background-color: rgba(10, 2, 8, 0.71);
}

footer div {
    display: inline-block;
    color: white;
    margin: 1% 2% 0 2%;
}

.label {
    font-size: 2vw;
}

.value {
    color: yellow;
    font-size: 1.5vw;
}

.reset {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background: #428BCA;
    color: #fff;
    font-size: 1vw;
    width: 5vw;
    margin: 10px 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    header h5 {
        font-size: 8vw;
    }

    .cardSection {
        width: 100%;
    }

    footer {
        width: 100%;
        margin: 0;
    }

    .label {
        font-size: 3.4vw;
    }

    .value {
        color: yellow;
        font-size: 3vw;
    }

    .reset {
        background: #428BCA;
        color: #fff;
        font-size: 3vw;
        width: 15vw;
        margin: 10px 10px;
        text-align: center;
    }
}

